<div class="container py-1 text-dark" style="height: 35px;">
    <div class="row">
        <div class="col-md-4">
          <i class="bi bi-phone p-3" style="font-weight: 400;"> +123 456 789</i>
      </div>
      <div class="col-md-4">
          <i class="bi bi-envelope p-3" style="font-weight: 400;">  info@erdaghukuk.org</i>
      </div>
      <div class="col-md-4 text-end">
          <a href="#"><i class="bi bi-facebook p-1" style="color: black; font-size: 19px"></i></a>
          <a href="#"><i class="bi bi-twitter p-1" style="color: black; font-size: 19px"></i></a>
          <a href="#"><i class="bi bi-instagram p-1" style="color: black; font-size: 19px"></i></a>
          <a href="#"><i class="bi bi-linkedin p-1" style="color: black; font-size: 19px"></i></a>
      </div>
      </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-3 sticky-top fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="img\erdag2.png" alt="Logo" height="83" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="index.html" class="nav-link active">ANASAYFA</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">KURUMSAL</a>
           <ul class="dropdown-menu bg-white">
           <li><a class="dropdown-item" href="hakkimizda.html"> Hakkımızda</a></li>
           <li><a class="dropdown-item" href="hukukpersonellerimiz.html"> Hukuk Personellerimiz </a></li>
           </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">ÇALIŞMA ALANLARI</a>
           <ul class="dropdown-menu bg-white">
           <li><a class="dropdown-item " href="cezahukuku.html"> Ceza Hukuku</a></li>
           <li><a class="dropdown-item" href="ticarethukuku.html"> Ticaret Hukuku </a></li>
           <li><a class="dropdown-item" href="fikrimulkiyethukuku.html"> Fikri Mülkiyet Hukuku </a></li>
           <li><a class="dropdown-item" href="ishukuku.html"> İş Hukuku </a></li>
           <li><a class="dropdown-item" href="ailehukuku.html"> Aile Hukuku </a></li>
           <li><a class="dropdown-item" href="esyahukuku.html"> Eşya Hukuku </a></li>
           </ul>
        </li>
        <li class="nav-item"><a href="yayinlar.html" class="nav-link active">YAYINLAR</a></li>
        <li class="nav-item"><a href="iletisim.html" class="nav-link active">İLETİŞİM</a></li>
    </ul>
</div>
</div>
</nav>

<router-outlet></router-outlet>
